<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/cards.css">
  <title>Document</title>
</head>

<body>

  <!-- Renting Section -->
  <div class="rent-section">
    <div class="rent-section-div1">
      <div class="rent-section-textDiv">
        <p>New Arrivals</p>
        <h2>The Latest Scoop is Here!</h2>
        <p>Get Spring ready in the freshest looks of the season</p>
        <button><a href="/clothallproducts">Rent Now / Buy Now</a></button>
      </div>
      <div class="rent-section-imagesDiv">
        <a href="/clothes">
          <img src="images/products-img/rent-section/1.jpg" alt="">
          <p>Pink and Saffron Lehenga Set</p>
          <p>Rs. 3,000.00</p>
        </a>
        <a href="/clothes">
          <img src="images/products-img/rent-section/2.jpg" alt="">
          <p>Blue Kurta Set with Threadwork</p>
          <p>Rs, 2,700.00</p>
        </a>
        <a href="/clothes">
          <img src="images/products-img/rent-section/3.jpg" alt="">
          <p>Red Lehenga with Diamond Finish</p>
          <p>Rs. 2,800.00</p>
        </a>
        <a href="/clothes">
          <img src="images/products-img/rent-section/4.jpg" alt="">
          <p>Black Formal Suit</p>
          <p>Rs. 2,000.00</p>
        </a>
        <a href="/clothes">
          <img src="images/products-img/rent-section/5.jpg" alt="">
          <p>Golden Pre-Stitched Saree </p>
          <p>Rs. 3,200.00</p>
        </a>
      </div>
    </div>
  </div>
  </div>

  <!-- Festive Offers Card -->
  <div>
    <img class="offer-img" src="images/products-img/product-desp1.png" alt="best offers">
    <div class="cards">
      <div class="card">
        <a href="#">
          <div>
            <img class="image" src="images/products-img/product1.png" alt="img1">
          </div>
          <div class="companies">
            <img src="images/logos-comp/logo-1.png" alt="">
            <img src="images/logos-comp/logo-2.png" alt="">
          </div>
          <div class="text">
            <p>Unique Styles Dresses for Women</p>
            <p>Under ₹699/-</p>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="#">
          <div>
            <img class="image" src="images/products-img/product2.png" alt="img1">
          </div>
          <div class="companies">
            <img src="images/logos-comp/logo-1.png" alt="">
            <img src="images/logos-comp/logo-2.png" alt="">
          </div>
          <div class="text">
            <p>Unique Styles Kurtas for Men</p>
            <p>Under ₹699/-</p>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="#">
          <div>
            <img class="image" src="images/products-img/product3.png" alt="img1">
          </div>
          <div class="companies">
            <img src="images/logos-comp/logo-1.png" alt="">
            <img src="images/logos-comp/logo-2.png" alt="">
          </div>
          <div class="text">
            <p>Denim Pant</p>
            <p>Under ₹699/-</p>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="#">
          <div>
            <img class="image" src="images/products-img/product4.png" alt="img1">
          </div>
          <div class="companies">
            <img src="images/logos-comp/logo-1.png" alt="">
            <img src="images/logos-comp/logo-2.png" alt="">
          </div>
          <div class="text">
            <p>Unique Styles Kurtas</p>
            <p>Under ₹699/-</p>
          </div>
        </a>
      </div>
    </div>
  </div>

  <button class="view-more-btn"><a href="/clothallproducts">View More Products</a></button>
</body>

</html>