<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/index.css">
  <title>Document</title>
</head>

<body>
  <div class="footer">
    <div class="small-container">
      <div class="row3">
        <div class="footer-col-1">
          <h3>Download Our App</h3>
          <p>Download Our App For Android and IOS Devices.</p>
          <div class="app-logo">
            <img src="images/app-store.png" alt="">
            <img src="images/play-store.png" alt="">
          </div>
        </div>
        <div class="footer-col-2">
          <img src="images/logo-black-300.gif" alt="">
          <p>Our Purpose is to Sustainably Make Pleasure and Rent Things to save mone for Our coustomers and Help
            them
            wear different things.</p>
        </div>
        <div class="footer-col-3">
          <h3>Useful Links</h3>
          <ul>
            <li>Coupons</li>
            <li>Best Offers</li>
            <li>Return Policy</li>
            <li>Customer Satisfaction</li>
          </ul>
        </div>
        <div class="footer-col-4">
          <h3>Socials</h3>
          <ul>
            <li>Instagram</li>
            <li>Twitter</li>
            <li>LinkedIn</li>
            <li>Github</li>
          </ul>
        </div>
      </div>

      <hr>

      <p class="copyright">&#169; Copyright 2021 The Borrow Trend</p>
    </div>
  </div>
</body>

</html>