<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/contact.css">
  <title>The Borrow Trend | Contact</title>
</head>

<body>
  <section>
    <!-- <img src="images/apng2.png" class="logo"> -->
    <div class="container">
      <div class="contactInfo">
        <div>
          <h2>Contact Info</h2>
          <ul class="info">
            <li>
              <span><img src="images/contact-images/location.png"></span>
              <span>address,India</span>
            </li>
            <li>
              <span><img src="images/contact-images/mail.png"></span>
              <span>borrowtrend@abc.com</span>
            </li>
            <li>
              <span><img src="images/contact-images/call.png"></span>
              <span>1800-799-1007</span>
            </li>
          </ul>
        </div>
        <ul class="sci">
          <li><a href="#"><img src="images/contact-images/1.png"></a></li>
          <li><a href="#"><img src="images/contact-images/2.png"></a></li>
          <li><a href="#"><img src="images/contact-images/3.png"></a></li>
          <li><a href="#"><img src="images/contact-images/4.png"></a></li>
          <li><a href="#"><img src="images/contact-images/5.png"></a></li>
        </ul>
      </div>
      <form action="/contact" method="POST">
        <div class="contactForm">
          <h2>Send a message</h2>
          <div class="formBox">
            <div class="inputBox w50">
              <input type="text" name="username" required>
              <span>First Name</span>
            </div>
            <div class="inputBox w50">
              <input type="text" nam required>
              <span>Last Name</span>
            </div>
            <div class="inputBox w50">
              <input type="text" name="email" required>
              <span>Email Address</span>
            </div>
            <div class="inputBox w50">
              <input type="text" required>
              <span>Mobile Number</span>
            </div>
            <div class="inputBox w100">
              <textarea required name="query"></textarea>
              <span>Write your message here...</span>
            </div>
            <div class="inputBox w100">
              <input type="submit" value="Send">
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>

  <!-- ---------testimonial section--------- -->
  <%- include('includes/testimonial') %>

    <!-- ---------footer section--------- -->
    <%- include('includes/footer') %>
</body>

</html>