<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/index.css">
  <script src="https://kit.fontawesome.com/ff14eec93e.js" crossorigin="anonymous"></script>

  <title>The Borrow Trend | Home</title>
</head>

<body>

  <!-- Header Section -->
  <section id="header">
    <div class="container">
      <img src="images/logo.jpg" class="logo">
      <div class="header-text">
        <h1>Rent Wear Repeat</h1>
        <span class="square"></span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis rem a architecto numquam voluptate maxime
          nostrum, molestias praesentium exercitationem in voluptates ex dolore alias sunt asperiores tenetur modi illo
          inventore.</p>

        <button class="common-btn">Shop Now</button>

        <div class="line">
          <span class="line-1"></span><br>
          <span class="line-2"></span><br>
          <span class="line-3"></span>
        </div>

      </div>
    </div>
  </section>

  <!-- Navigation menu -->
  <%- include('includes/nav') %>

    <!-- Featured categories -->
    <div class="catrgories">
      <h2 class="cat-head">Grab Some Exciting Offers Now</h2>
      <img name="slide" width="1380" height="320">
    </div>

    <!--Featured Products -->
    <div class="products">
      <div class="small-container">
        <h2 class="title">Featured Products</h2>
        <div class="row">
          <div class="col-4">
            <img src="images/buy-4.jpg" alt="">
            <h4>Diesel Pants</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <p>Rs.1299/-</p>
          </div>
          <div class="col-4">
            <img src="images/buy-1.jpg" alt="">
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-alt"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>Rs.489/-</p>
          </div>
          <div class="col-4">
            <img src="images/buy-2.jpg" alt="">
            <h4>Sports Shoes</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-alt"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>Rs.699/-</p>
          </div>
          <div class="col-4">
            <img src="images/buy-4.jpg" alt="">
            <h4>Night Jeans</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-alt"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>Rs.399/-</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Latest Products -->
    <div class="products">
      <div class="small-container">
        <h2 class="title">Latest Products</h2>
        <div class="row">
          <div class="col-4">
            <img src="images/buy-4.jpg" alt="">
            <h4>Diesel Pants</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <p>Rs.1299/-</p>
          </div>
          <div class="col-4">
            <img src="images/buy-1.jpg" alt="">
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-alt"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>Rs.489/-</p>
          </div>
          <div class="col-4">
            <img src="images/buy-2.jpg" alt="">
            <h4>Sports Shoes</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-alt"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>Rs.699/-</p>
          </div>
          <div class="col-4">
            <img src="images/buy-4.jpg" alt="">
            <h4>Night Jeans</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-alt"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>Rs.399/-</p>
          </div>
        </div>
      </div>
    </div>

    <div class="products">
      <div class="small-container">
        <div class="row">
          <div class="col-4">
            <img src="images/buy-4.jpg" alt="">
            <h4>Diesel Pants</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <p>Rs.1299/-</p>
          </div>
          <div class="col-4">
            <img src="images/buy-1.jpg" alt="">
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-alt"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>Rs.489/-</p>
          </div>
          <div class="col-4">
            <img src="images/buy-2.jpg" alt="">
            <h4>Sports Shoes</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-alt"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>Rs.699/-</p>
          </div>
          <div class="col-4">
            <img src="images/buy-4.jpg" alt="">
            <h4>Night Jeans</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-alt"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>Rs.399/-</p>
          </div>
        </div>
      </div>
    </div>

    <!-- offers  -->

    <div class="offer">
      <div class="small-container">
        <div class="row2">
          <div class="col-2">
            <img src="images/offer1.png" class="offer-img" alt="offer-img">
          </div>
          <div class="col-2">
            <p>Exculsively Available on Rent</p>
            <h1>Pearl Choker Necklace</h1>
            <small>
              Traditional Pearl & LCT Gold Plated Jewellery Combo for Women will complement any Indian attire. Women
              Love Jewelry as it not only enhances their beauty, but also gives them the social confidence. Make your
              moment memorable with this range. This jewel set features a unique one of a kind traditional embellish
              with antic finish. Earring is very easy to use being lightweight and has a design which makes it very
              comfortable.
            </small>

            <div>
              <a href="#" class="btn">Rent Now &#8594;</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      var i = 0;
      var images = [];
      var time = 3000;

      images[0] = "images/carso1.webp"
      images[1] = "images/carso2.jpg"
      images[2] = "images/carso3.jpg"

      function changeImage() {
        document.slide.src = images[i];
        if (i < images.length == 1) {
          i++;
        } else {
          i = 0;
        }

        setTimeout("changeImage()", time);
      }

      window.onload = changeImage;
    </script>
</body>

</html>