<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/index.css">
  <script src="https://kit.fontawesome.com/ff14eec93e.js" crossorigin="anonymous"></script>

  <title>The Borrow Trend | Home</title>
</head>

<body>

  <!-- Header Section -->
  <section id="header">
    <div class="container">
      <img src="images/apng1.png" class="logo">
      <div class="header-text">
        <h1>Rent Wear Repeat</h1>
        <span class="square"></span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis rem a architecto numquam voluptate maxime
          nostrum, molestias praesentium exercitationem in voluptates ex dolore alias sunt asperiores tenetur modi illo
          inventore.</p>

        <button class="common-btn"><a style="color: #000; text-decoration: none;" href="/clothes">
            Shop Now
          </a></button>

        <div class="line">
          <span class="line-1"></span><br>
          <span class="line-2"></span><br>
          <span class="line-3"></span>
        </div>
      </div>
    </div>
  </section>

  <!-- Navigation menu -->
  <%- include('includes/nav') %>

    <!-- Featured categories -->
    <div class="catrgories">
      <h2 class="cat-head">Grab Some Exciting Offers Now</h2>
      <img name="slide" width="1380" height="320" style="margin: auto;">
    </div>

    <!--Featured Products -->
    <div class="products">
      <div class="small-container">
        <h2 class="title">Featured Products</h2>
        <div class="row">
          <div class="col-4">
            <img src="images/buy-4.jpg" alt="">
            <h4>Diesel Pants</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-alt"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>Rs.1299/-</p>
            <button class="rent-btn"><a href="/clothes">View Now</a></button>
          </div>
          <div class="col-4">
            <img src="images/buy-1.jpg" alt="">
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-alt"></i>
            </div>
            <p>Rs.489/-</p>
            <button class="rent-btn"><a href="/clothes">View Now</a></button>
          </div>
          <div class="col-4">
            <img src="images/buy-2.jpg" alt="">
            <h4>Sports Shoes</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-alt"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>Rs.699/-</p>
            <button class="rent-btn"><a href="/shoes">View Now</a></button>
          </div>
          <div class="col-4">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjqASIh-slYs7-SF9aQkzFg45M6NXYYXKCnQ&usqp=CAU"
              alt="" style="height: 200px; width: 200px">
            <h4>Gold Jewellery</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <p>Rs.20999/-</p>
            <button class="rent-btn"><a href="/jewellery">View Now</a></button>
          </div>
        </div>
      </div>
    </div>

    <!-- Latest Clothes Products -->
    <div class="products">
      <div class="small-container">
        <h2 class="title">Latest Clothes Products</h2>
        <div class="row">
          <div class="col-4">
            <img src="images/product-4.jpg" style="height: 230px; width: 200px" alt="">
            <h4>Formal Use T-Shirts</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <p>Rs.1299/-</p>
            <button class="rent-btn"><a href="/clothes">View Now</a></button>
          </div>
          <div class="col-4">
            <img src="images/ghurt.jfif" alt="">
            <h4>Printed T-Shirt</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-alt"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>Rs.489/-</p>
            <button class="rent-btn"><a href="/clothes">View Now</a></button>
          </div>
          <div class="col-4">
            <img src="images/images.jfif" alt="">
            <h4>Casual T-Shirts</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-alt"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>Rs.699/-</p>
            <button class="rent-btn"><a href="/clothes">View Now</a></button>
          </div>
          <div class="col-4">
            <img src="images/wtf.jpg" style="height: 200px; width: 200px" alt="">
            <h4>Modern Use T-Shirts</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-alt"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>Rs.399/-</p>
            <button class="rent-btn"><a href="/clothes">View Now</a></button>
          </div>
        </div>
      </div>
    </div>

    <!-- Latest Jewellery Products -->
    <div class="products">
      <div class="small-container">
        <h2 class="title">Latest Jewellery Products</h2>
        <div class="row">
          <div class="col-4">
            <img src="https://news.jewellerynet.com/uploads/article/23408/4_1568103181_Gold_jewellery_by_Mioro.jpg"
              style="height: 230px; width: 200px" alt="">
            <h4>Formal Use T-Shirts</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <p>Rs.12999/-</p>
            <button class="rent-btn"><a href="/jewellery">View Now</a></button>
          </div>
          <div class="col-4">
            <img src="https://i.pinimg.com/originals/82/44/82/824482e2deffbc90ef030abd06738136.jpg"
              style="height: 230px; width: 200px" alt="">
            <h4>Printed T-Shirt</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-alt"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>Rs.48999/-</p>
            <button class="rent-btn"><a href="/jewellery">View Now</a></button>
          </div>
          <div class="col-4">
            <img
              src="http://www.thejewelleryeditor.com/media/images_thumbnails/filer_public_thumbnails/filer_public/9e/32/9e32bb4a-4dd5-4c20-b5a8-b397e7a3f9f1/volute_venitienne_earrings_by_chanel.jpg__1536x0_q75_crop-scale_subsampling-2_upscale-false.jpg"
              style="height: 200px; width: 200px" alt="">
            <h4>Casual T-Shirts</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-alt"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>Rs.699/-</p>
            <button class="rent-btn"><a href="/jewellery">View Now</a></button>
          </div>
          <div class="col-4">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnocaRebIlvYfOnmWIw4oyedEGW847kGWIng&usqp=CAU"
              style="height: 200px; width: 200px" alt="">
            <h4>Modern Use T-Shirts</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-alt"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>Rs.399/-</p>
            <button class="rent-btn"><a href="/jewellery">View Now</a></button>
          </div>
        </div>
      </div>
    </div>


    <!-- offers  -->

    <div class="offer">
      <div class="small-container">
        <div class="row2">
          <div class="col-2">
            <img src="images/offer1.png" class="offer-img" alt="offer-img">
          </div>
          <div class="col-2">
            <p>Exculsively Available on Rent</p>
            <h1>Pearl Choker Necklace</h1>
            <small>
              Traditional Pearl & LCT Gold Plated Jewellery Combo for Women will complement any Indian attire. Women
              Love Jewelry as it not only enhances their beauty, but also gives them the social confidence. Make your
              moment memorable with this range. This jewel set features a unique one of a kind traditional embellish
              with antic finish. Earring is very easy to use being lightweight and has a design which makes it very
              comfortable.
            </small>

            <div>
              <a href="/jewellery" class="btn">View Now &#8594;</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- testimonial section -->
    <%- include('includes/testimonial') %>

      <!-- footer -->
      <%- include('includes/footer') %>

        <script>
          var i = 0;
          var images = [];
          var time = 3000;

          images[0] = "images/carso1.webp"
          images[1] = "images/img2.webp"
          images[2] = "images/img3.webp"
          images[3] = "images/carso2.jpg"

          function changeImage() {
            document.slide.src = images[i];
            if (i < images.length == 1) {
              i++;
            } else {
              i = 0;
            }

            setTimeout("changeImage()", time);
          }

          window.onload = changeImage;
        </script>
</body>

</html>