<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
    crossorigin="anonymous" />
  <title>The Borrow Trend | Register</title>
  <link rel="stylesheet" href="css/login.css">
</head>

<body>
  <div class="container">
    <div class="forms-container">
      <div class="signin-signup">
        <form action="#" class="sign-up-form">
          <h2 class="title">Sign Up</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Username" />
          </div>
          <div class="input-field">
            <i class="fas fa-envelope"></i>
            <input type="email" placeholder="Email" />
          </div>
          <div class="input-field">
            <i class="fas fa-envelope"></i>
            <input type="number" placeholder="Mobile Number" />
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Password" />
          </div>
          <input type="submit" class="btn solid" value="sign up">
          <p class="social-text">Or Sign Up with social platforms</p>
          <div class="social-media">
            <a href="#" class="social-icon">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-google"></i>
            </a>
          </div>
        </form>
      </div>
    </div>

    <div class="panels-container">
      <div class="panel right-panel">
        <div class="content">
          <h3>THE BORROW TREND | SIGN UP</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet mollitia minus, ea aut alias aliquid odit
            quidem. Aliquam, itaque maiores harum, repudiandae laboriosam voluptatem amet repellendus, sequi quidem
            necessitatibus doloremque.
          </p>
          <button class="btn transparent" id="sign-in-btn">Sign In</button>
        </div>
        <img src="images/register.svg" alt="" class="image" />
      </div>
    </div>
  </div>
</body>

</html>